<%-include("partials/header.ejs")%>
 <div class="header">
        <h1>BlogSpace</h1>
        <a href="/home1"><h3>Home</h3></a>
        <a href="/create1"><h3>Create Blogs</h3></a>
        <a href="/MyBlogs"><h3>My Blogs</h3></a>
    </div>
    <hr>
    <div class="viewed_details">
        <h1><%=title%></h1>
        <h2><%=author_name%></h2>
        <p><%=description%></p>
    </div>

<%-include("partials/footer.ejs")%>